@font-face{
    font-family: "mario";
    src: url('SuperMario256.ttf');
}

body
{
    background-image: url(wall.jpg);
}

header
{
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1
{
    font-size: 50px;
    text-shadow: 5px 5px 5px #CECECE;
    font-family: "mario", Arial, serif;
    padding-bottom: 20px;
}

#f_color
{
    color: darkblue;
}

#s_color
{
    color: red;
}

#liste
{
    text-align: center;
    font-size: 25px;
}

.shop
{
    color: deepskyblue;
    padding-right: 40px;
    font-family: "mario", Arial, serif;
    text-decoration: none;
}

.contact
{
    color: orangered;
    padding-right: 40px;
    font-family: "mario", Arial, serif;
    text-decoration: none;
}

.regle
{
    color: lawngreen;
    font-family: "mario", Arial, serif;
    text-decoration: none;
}


#launcher
{
    width: 1030px;
    height: 650px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    margin-left: 20%;

}

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer h5
{
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px;
    margin: 0;
}