@font-face{
    font-family: "mario";
    src: url('SuperMario256.ttf');
}

body
{
    background-image: url(wall.jpg);
}

header
{
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
}

h1
{
    font-size: 40px;
    font-family: "mario", Arial, serif;
}

#liste
{
    text-align: center;
    font-size: 25px;
}

.contact
{
    color: orangered;
    padding-right: 40px;
    font-family: "mario", Arial, serif;
    text-decoration: none;
}

.accueil
{
    color: #E70739;
    padding-right: 40px;
    font-family: "mario", Arial, serif;
    text-decoration: none;
}

.regle
{
    color: lawngreen;
    font-family: "mario", Arial, serif;
    text-decoration: none;
}


footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer h5
{
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px;
    margin: 0;
}